<div class="padding10">
	<h5>Aví$ame</h5>
	<b>Nuevo registro</b>
	<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="producto" type="text" class="validate">
          <label for="producto">Producto que será monitoreado</label>
        </div>
      </div>
			<div class="row">

				<p class="col s12 range-field">
					Precio máximo deseado
		      <input type="range" id="test5" min="0" max="100" />
		    </p>
      </div>
		</form>
	</div>

	<h5>Histórico de precios de este producto</h5>
</div>
